.monaco-hover-breakpoint {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    background-color: #eabebc;
    margin: 4px 0 0 8px;
    cursor: pointer;
}

.monaco-breakpoint {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    background-color: #d47d78;
    margin: 4px 0 0 8px;
    cursor: pointer;
}

.monaco-line-highlight {
    background-color: rgba(245, 240, 187, 0.5);
}